.Tooglebutton {
    background:#b7b9ba;
    border:1px solid #aaa;
    border-radius:100px;
    width:50px;
    height:28px;
    transition:background-color 0.1s ease, border-color 0.2s ease;
    cursor:pointer;
    box-shadow:1px 1px 10px rgba(0,0,0,0.748);
    position:relative;
}
.thumb{
    height:20px;
    width:20px;
    background:#fff;
    border-radius:99px;
    transform:translateX(0);
    transition:left 1s ease;
position:absolute;
left:3px ;
top:50%;
transform:translateY(-50%);

}
.Tooglebutton.toggled{
    background-color:#15b58e;
}
.Tooglebutton:hover{
    border-color:#6f6f6f;

} 
.Tooglebutton.toggled .thumb{
   transform: translateX(23px) translateY(-50%);
}