
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:black;

}
.title{
  color:white;
  text-align:center;
}

.button-group{
  display:flex;
  justify-content: center;
  gap:20px;
}
.buttonapp{
  width:300px;
  color:black;
  height:100px;
  background-color:white;
  border-radius:10px;
  align-self:center;
  font-size:24px;

}
.app-card{
  display:flex;
  justify-content:center ;
  flex-direction:column;

}
.app-header{
  display:flex;
  
  justify-content: center;
}