
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


































.title{
  color:white;
  text-align:center;
}
.close-btn{
  background-color:white;
  color:black;
  margin-left:200px;
  margin-top:10px;
  width:50px;
  height:20px;
}
.button-group{
  display:flex;
  justify-content: center;
  gap:20px;
}
.buttonapp{
  width:300px;
  color:black;
  height:100px;
  background-color:white;
  border-radius:10px;
  font-size:24px;
}
.app-card{
  display:flex;
  justify-content:center ;
  flex-direction:column;
  margin-bottom:30px;
}
.app-header{
  display:flex;
  
  justify-content: center;
}